

* 
{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 
{
    margin-top: 5%;
    text-align: center;
}

.listBox h2 {
    color: rgba(0, 0, 0, 0.2);
}

.listBox
{
    width: 90%;
    height: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.listBox table {
        
        display: block;
        height: 70%;
        
        border: 1px solid gray;
        font-size: 18px;
}

table thead {

    display: block;
    height: 10%;
    background-color: #111;
    color: #eee;
    padding-right: 16px;
}

table tbody {
    display: block;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden; 
}


tr
{
    margin: 0;
    display: flex;
    height: 20%;

}

thead tr 
{
    height: 100%;
}

td {
    display: block;
    flex-basis: 15%;
    position: relative;
    padding-top: 5px;
}

td span, th span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

th {
    display: block;
    height: 100%;
    text-align: left;
    flex-basis: 15%;
    position: relative;
}


td:nth-child(1), th:nth-child(1) {
    flex-basis: 5%;
    padding-left: 15px;
    font-weight: bold;
}

td:nth-child(4), th:nth-child(4) {
    flex-basis: 10%;
}

td:nth-child(6), th:nth-child(6) {
    flex-basis: 10%;
}

td:nth-child(8), th:nth-child(8) {
    flex-basis: 20%;
    
}

td:nth-child(8) span
{
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

tbody tr:nth-child(2n+1)
{
    background-color: lightgray;
}

tbody tr:nth-child(2n)
{
    background-color: #eee;
}

th:nth-child(8) span
{
    width: 100%;
    text-align: center;
}

footer
{
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 1%;
    text-align: right;
    padding-top: 1%;
    padding-right: 1%;
    color: #555;
}

footer a
{
    color: #600;
}

button {
    cursor: pointer;
    border-style: none;
    border-radius: 10%;
}

.actionBtns button {
    height: 60%;
    width: 25%;
    cursor: pointer;
    border-style: none;
    border-radius: 10%;
}

.actionBtns button:nth-child(1) {

    background-color: #b0cf44;
}

button.red {
    background-color: #d9534f;
    color: #eee;
}

.topBar
{
    display: flex;
    height: 10%;
    justify-content: space-between;
}

.topBar h2
{
    width: 85%;
}

.topBar div {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: royalblue;
    color: #eee;
}

.topBar button {
    flex-basis: 40%;
    height: 70%;
}

.bottomBar {
    display: flex;
    height: 15%;
    align-items: flex-end;
    justify-content: space-between;
}

.bottomBar button
{
    display: block;
    height: 55%;
    width: 7%;
    margin: 0 2%;
}

.filterForm
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background-color: #ccc;
    z-index: 2;
    border: 2px solid black;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

button:hover
{
    transform: scale(1.1, 1.1);
}

.filterForm form label
{
    display: block;
    padding: 10px;
}



.filterForm h3
{
    text-align: center;
    margin: 0 5% 5% 5% 5%;
    font-size: 25px;
}

.filterForm form input
{
    padding: 7px;
    width: 30%;
    font-size: 15px;
    margin-right: 2%;
    margin-left: 2%;
}

.filterForm .filterBtns {
    position: absolute;
    top: 95%;
    right: 0%;
    transform: translate(-20%, -50%);
}

.filterForm button
{
    padding: 12px;
    margin: 5px;
}

.filterForm .sortTable 
{
/*    position: absolute;
    top: 37px;
    right: 5%;*/
    width: 40%;
}

.sortTable h3
{
    margin-bottom: 10%;
}

.sortTable div
{
    margin-top: 5%;
    padding: 2%;
}

.sortTable input
{
    margin-right: 5%;
}

tbody input {
    padding: 7px;
}

tbody select
{
    padding: 7px;
}

td:nth-child(4) input {
    width: 60%;
}

.actionBtns :disabled
{
     opacity: 0.4;
}

div.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    width: 25%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0 5% 0;
}

div.loginBox>* 
{
    display: block;
    width: 80%;
}

div.loginBox input
{
    padding: 10px;
    margin: 10px;
}

.loginBox span
{
    color: #eee;
    display: block;
}

.loginBox h3
{
    text-align: center;
    color: #eee;
    padding-bottom: 30px;
}

.loginBox .buttonDiv
{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.buttonDiv iframe
{
    z-index: -1;
    opacity: 0;
}

.buttonDiv iframe.visible
{
    display: block;
    opacity: 1;
}

.buttonDiv button {
    margin-left: 5%;
    padding: 10px;
}

.buttonDiv button:disabled
{
    opacity: 0.4;
}

.loginBox .trusted>*
{
    display: inline;
}

button.logout
{
    position: absolute;
    top: 3%;
    right: 3%;
    padding: 12px;
}

